.aboutBanner-blur {
  position: absolute;
  background: -webkit-linear-gradient(bottom, black, rgba(179, 11, 11, 0.075));
  height: 60vh;
  width: 100%;
  z-index: 10;
}

.vison-summary-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  padding: 5% 10%;
  padding-top: 0px;
}

.vison-summary-section-left {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 40%;
}

.left-p {
  margin-top: 50px;
  margin-bottom: 20px;
  text-decoration: underline;
  text-transform: uppercase;
  color: rgba(128, 128, 128, 0.301);
}

.vison-summary-left-thumbnail {
  background-color: transparent;
  height: 300px;
  margin-top: 40px;
  margin-bottom: 100px;
}

.vison-summary-left-thumbnail img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.vison-summary-section-left h5 {
  text-transform: uppercase;
}

.vison-summary-section-left p {
  color: grey;
  font-family: poppins, sans-serif;
  font-size: 17px;
  margin-bottom: 50px;
}

.vison-summary-section-left p ul {
  margin-top: 25px;
}

.vison-summary-section-left p ul li {
  padding-bottom: 30px;
}

.vison-summary-item {
  display: flex;
  flex-direction: column;
  /* width: 25%; */
  background-color: transparent;
  margin: 50px 0px;
}

.vison-summary-item h5 {
  font-size: 30px;
  text-transform: capitalize;
  font-family: poppins, sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: left;
  color: lightgray;
}

.vison-summary-item span {
  text-transform: lowercase;
  font-family: poppins, sans-serif;
  font-size: 15px;
  padding-top: 20px;
  text-align: left;
  color: grey;
}

.vison-summary-item span::first-letter {
  text-transform: uppercase;
}

.vison-summary-item-count-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.vison-summary-item-count-container .vison-summary-item-count {
  display: block;
  font-family: poppins, sans-serif;
  font-weight: bolder;
  font-size: 45px;
  color: grey;
}

.vison-summary-item-count-container .vison-summary-item-count-title {
  font-size: 19px;
  margin-top: -10px;
}

.vison-summary-section-right {
  background-color: black;
  width: 50%;
}

.vison-summary-section-right h4 {
  font-size: 40px;
  text-transform: lowercase;
  text-transform: capitalize;
  padding-top: 60px;
  width: 500px;
  text-align: right;
  font-family: poppins, sans-serif;
  color: lightgray;
  letter-spacing: 1px;
  text-decoration: underline;
  line-height: initial;
}

.vison-summary-section-thumbnail {
  background-color: transparent;
  height: 350px;
  margin-top: 40px;
  margin-bottom: 100px;
}

.vison-summary-section-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.vison-summary-section-right p {
  color: grey;
  font-family: poppins, sans-serif;
  font-size: 17px;
  margin-bottom: 50px;
}

.vison-summary-section-right p span {
  color: rgba(128, 128, 128, 0.404);
}

.vison-summary-section-right p button {
  display: block;
  margin-top: 30px;
  padding: 5px 20px;
  text-transform: capitalize;
  font-size: 16px;
  font-family: poppins, sans-serif;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: lightgrey;
  color: rgba(0, 0, 0, 0.945);
}

.vison-summary-section-right p button .a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.945);
}

.vison-summary-section-right ul {
  margin-top: 25px;
}

.vison-summary-section-right ul li {
  padding-bottom: 10px;
}

.cooperative-values-section {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 50px 10%;
  padding-bottom: 100px;
}

.cooperative-values-section h4 {
  font-family: poppins, sans-serif;
  font-size: 45px;
  text-transform: capitalize;
  font-weight: bolder;
  text-align: center;
  border-bottom: 1px solid gray;
  color: gray;
}

.cooperative-values-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 50px;
}

.cooperative-values-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  width: 20%;
  height: 100px;
  border-radius: 10px;
}

.cooperative-values-item-icon i {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.781);
}

.cooperative-values-item-title {
  text-transform: capitalize;
  padding: 10px;
  font-family: poppins, sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.781);
}

.aboutsponsors-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.aboutsponsors-item {
  background-color: transparent;
  height: 100px;
  width: 40%;
  margin: 10px 20px;
}

.aboutsponsors-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.governance-section {
  background-color: black;
  padding: 5% 10%;
}


.governance-section h4{
    font-size: 40px;
    color: grey;
    padding-bottom: 20px;
}

.governance-section p{
    font-size: 17px;
    font-family: poppins, sans-serif;
    color: rgba(128, 128, 128, 0.404);
}


.board-structure-section{
  padding: 5% 10%;
  background-color: black;
}

.board-structure-section h4{
  text-transform: capitalize;
  font-weight: bold;
  color: grey;
  font-size: 30px;
  font-family: poppins, sans-serif;
  padding-bottom: 20px;
}

.board-structure-section p{
  color: rgba(128, 128, 128, 0.432);
}