/* computer screen */

@media (min-width: 1000px) {

  .home-service-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 0px 5%;
    padding-top: 100px;
    padding-bottom: 150px;
  }
  
  .home-service-section h3 {
    display: block;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 10px;
    font-family: poppins, sans-serif;
    color: lightgrey;
    color: green;

  }
  
  .home-service-section p {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 50%;
    text-align: center;
    color: grey;
  }
  
  .home-service-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
    width: 100%;
    padding: 0px;
    margin-bottom: 30px;
  }
  
  .home-service-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 20%;
  }
  
  .home-service-item h5{
    font-size: 35px;
    text-transform: capitalize;
    font-family: poppins, sans-serif;
    color: lightgray;
    color: green;
    text-align: left;
  }
  
  .home-service-item span{
    font-size: 17px;
    font-family: poppins, sans-serif;
    color: grey;
    text-align: left;
    padding-top: 20px;
    
  }
  
  .home-service-item div{
    height: 150px;
    width: 150px;
    padding-top: 30px;
  }
  
  .home-service-item div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .home-service-section button {
    display: inline-block;
    width: 200px;
    padding: 10px 15px;
    margin-top: 50px;
    text-transform: capitalize;
    font-size: 15px;
    font-family: poppins, sans-serif;
    font-weight: 500;
    color: rgb(58, 58, 58);
    color: grey;
    border: none;
    background-color: transparent;
    border: 2px solid grey;
    border: 2px solid green;
    color: green;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
  }
  
  .home-service-section button:hover {
    background-color: grey;
    color: white;
    transition: 0.3s linear;
  }
  

}









/* tablet screen */

@media (max-width: 1000px) {

  .home-service-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
    padding: 0px 5%;
    padding-top: 100px;
    padding-bottom: 150px;
  }
  
  .home-service-section h3 {
    display: block;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 10px;
    font-family: poppins, sans-serif;
    color: lightgrey;
    color: green;

  }
  
  .home-service-section p {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 70%;
    text-align: center;
    color: grey;
  }
  
  .home-service-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 400px;
    width: 100%;
    padding: 0px;
    margin-bottom: 30px;
  }
  
  .home-service-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 40%;
    margin: 50px 0px;
  }
  
  .home-service-item h5{
    font-size: 35px;
    text-transform: capitalize;
    font-family: poppins, sans-serif;
    color: lightgray;
    color: green;
    text-align: center;
  }
  
  .home-service-item span{
    font-size: 17px;
    font-family: poppins, sans-serif;
    color: grey;
    text-align: center;
    padding-top: 20px;
    
  }
  
  .home-service-item div{
    height: 150px;
    width: 150px;
    padding-top: 30px;
  }
  
  .home-service-item div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .home-service-section button {
    display: inline-block;
    width: 200px;
    padding: 10px 15px;
    margin-top: 600px;
    text-transform: capitalize;
    font-size: 15px;
    font-family: poppins, sans-serif;
    font-weight: 500;
    color: rgb(58, 58, 58);
    color: grey;
    border: none;
    background-color: transparent;
    border: 2px solid grey;
    border: 2px solid green;
    color: green;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
  }
  
  .home-service-section button:hover {
    background-color: grey;
    color: white;
    transition: 0.3s linear;
  }
  

}







/* mobile screen */

@media (max-width: 690px) {
  .home-service-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
    padding: 0px 5%;
    padding-top: 100px;
    padding-bottom: 150px;
  }
  
  .home-service-section h3 {
    display: block;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 10px;
    font-family: poppins, sans-serif;
    color: lightgrey;
    color: green;
  }
  
  .home-service-section p {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 70%;
    text-align: center;
    color: grey;
  }
  
  .home-service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 0px;
    margin-bottom: 30px;
    background-color: transparent;
  }
  
  .home-service-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 70%;
    margin: 50px 0px;
  }
  
  .home-service-item h5{
    font-size: 35px;
    text-transform: capitalize;
    font-family: poppins, sans-serif;
    color: lightgray;
    color: green;
    text-align: center;
  }
  
  .home-service-item span{
    font-size: 17px;
    font-family: poppins, sans-serif;
    color: grey;
    text-align: center;
    padding-top: 20px;
    
  }
  
  .home-service-item div{
    height: 150px;
    width: 150px;
    padding-top: 30px;
    background-color: transparent;
  }
  
  .home-service-item div img{
    width: 100%;
    background-color: transparent;
    height: 100%;
    object-fit: contain;
  }
  
  .home-service-section button {
    display: inline-block;
    width: 200px;
    padding: 10px 15px;
    margin-top: 50px;
    text-transform: capitalize;
    font-size: 15px;
    font-family: poppins, sans-serif;
    font-weight: 500;
    color: rgb(58, 58, 58);
    color: grey;
    border: none;
    background-color: transparent;
    border: 2px solid grey;
    border: 2px solid green;
    color: green;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
  }
  
  .home-service-section button:hover {
    background-color: grey;
    color: white;
    transition: 0.3s linear;
  }
  

}


