.partners-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 0px 5%;
    padding-top: 50px;
    padding-bottom: 150px;
}

.partners-section h5{
    font-size: 40px;
    text-transform: capitalize;
    color: lightgray;
    color: green;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: underline;
}

.partners-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    padding-top: 50px;
    padding-bottom: 100px;
    height: 100px;
    width: 100%;
}

.partners-container span{
    display: inline-block;
    width: 20%;
    height: 150px;
    margin: 20px;
    background-color: transparent;
}


.partners-container span img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}